// ==============================
// Override Variables
// 覆盖主题变量
// ==============================

$global-font-size: 17px;
$global-line-height: 1.7rem;
$header-title-font-size: 1.35rem;
$code-font-size: 0.85rem;